.content {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    // background-color: red;

    .text {
        h3 {
            margin: 20px 0 0;
        }

        h1 {
            margin: 20px 0 0;

        }

        h4 {
            color: orangered;
        }

        button {
            padding: 10px 20px;
            margin: 20px auto;
            background-color: #009900;
            color: white;
            border: none;
            font-size: 18px;
            font-weight: 600;

            i {
                font-size: 16px;
            }
        }
    }
}