#category {
    margin-top: 3px;
    // height: 400px;
    display: flex;

    .leftContent {
        // width: 400px;
        background-color: whitesmoke;
        padding: 30px 50px;

        h1 {
            color: orangered;
        }

        ul {
            li {
                color: rgb(60, 60, 60);
                list-style: none;
                margin-top: 20px;
                font-size: 18px;
                transition: all .3s;
                cursor: pointer;


                &:hover {
                    color: orangered;
                }
            }
        }
    }

    .mainContent {
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 100px;
    }
}


@media screen and (max-width: 768px) {

    #category {
        margin-top: 3px;
        // height: 400px;
        display: flex;
        flex-direction: column;
        width: 100%;



        .leftContent {
            padding: 5px 10px;




            h1 {
                font-size: 18px;
            }

            ul {
                display: flex;
                gap: 30px;
                margin-top: 5px;
                overflow-x: scroll;
                overflow-y: hidden;

                &::-webkit-scrollbar {
                    display: none;
                }


                li {
                    font-size: 14px;
                    display: block;
                    width: 100%; // không chình được width
                    margin: 5px 0 0 0;

                    &:last-child {
                        margin-right: 20px;
                    }




                    &:hover {
                        color: orangered;
                    }
                }
            }
        }

        .mainContent {
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: 100px;
        }
    }


}